{% extends "base.html" %}

{% block title %}Detection Result{% endblock %}

{% block content %}
<h2>Language Detection Result</h2>

<p style="margin-bottom:15px;">
    <b>Input Sentence:</b><br>
    "{{ sentence }}"
</p>

<hr>

<h3>Word-wise Detection</h3>

<div style="margin-top:20px;">
    {% for word, lang in results %}
    <span class="tag {{ lang|lower }}">
        {{ word }} <b>[{{ lang|upper }}]</b>
    </span>
{% endfor %}

</div>

<br><br>

<form action="/translate" method="POST">
    <input type="hidden" name="sentence" value="{{ sentence }}">
    <button class="btn">ANALYSE</button>
</form>

{% endblock %}

